@import '@/styles/breakpoints';
@import '@/styles/typography';

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;

  @include desktop {
    padding: 80px;
    justify-content: space-around;
    align-items: flex-start;
  }
}

.questionTitle {
  @include p1;

  margin-top: auto;
  padding: 0 16px;
  text-align: center;

  @include desktop {
    text-align: left;
  }
}

.answers {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px 34px;
  margin-bottom: auto;
  padding-bottom: 40px;

  @include tablet {
    padding: 0 16px;
    max-width: 700px;
  }

  @include desktop {
    justify-content: flex-start;
    gap: 30px 34px;
    max-width: 900px;
  }
}
