@import '@/styles/breakpoints';
@import '@/styles/variables';

.root {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: $white-100;
  transition: 0.3s left ease-in-out;
  left: 100%;
  z-index: 5;

  &.isOpen {
    left: 0;
  }

  @include tablet {
    display: none;
  }
}

.closeIcon {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 24px;
  height: 24px;

  @include tablet {
    display: none;
  }
}
