@import '@/styles/breakpoints';
@import '@/styles/variables';

.root {
  position: relative;
  display: flex;
  height: 100vh;
  background-color: $black-5;
}

.question {

}

.sidebar {
  flex: none;
  display: none;
  background: $white-100;

  @include tablet {
    display: flex;
    width: 376px;
  }
}

.burger {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 24px;
  height: 24px;

  @include tablet {
    display: none;
  }
}
