@import '@/styles/breakpoints';
@import '@/styles/variables';

.root {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: $black-5;
  overflow-x: hidden;

  @include tablet {
    flex-direction: row;
  }
}

.question {
  flex: 1;
}

.sidebar {
  flex: none;
  display: none;
  background: $white-100;

  @include tablet {
    display: flex;
    width: 376px;
  }
}

.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 16px;
  background-color: $black-5;
  z-index: 10;

  @include tablet {
    display: none;
  }
}

.burger {
  width: 24px;
  height: 24px;
}
